{% extends 'layout.html' %}

{% block content %}

<div class="description">
    <br>

    <h2>{{ podcast.title }}</h2>
    <p><i>Author:</i> {{ podcast.author.name }} </p>
    <p><i>About:</i> {{ podcast.description }} </p>
    <p><i>Image URL: </i><img class="Image" src="{{ podcast.image }}" alt="podcast image"> </p>
    <p><i>Categories:</i> {{ ", ".join(podcast.get_categories) }} </p>
    <p><i>Language</i> {{ podcast.language }}</p>
<br />

    <ol>
         <h2>Episodes:</h2>
         {% for episode in podcast.get_episodes %}
         <div>

         <li>{{ episode.episode_name }}</li>

         <ul>
             <li> <p> Publication date: {{ episode.publication_date }} </p> </li>
             <li> <p> Episode Length: {{ episode.integer_into_time() }} </p> </li>
             <li> <p> Link to audio: <a href="{{ episode.link_to_audio }}"> {{ episode.link_to_audio }} </a> </p> </li>
         </ul>

         <br/>

         </div>
        {% endfor %}
    </ol>

</div>


{% endblock %}